<!DOCTYPE html>
<html>
<head>
    <title>Add New Task</title>
    <style>
        body { font-family: Arial; margin: 2rem; }
        table { width: 80%; border-collapse: collapse; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
        .button-container { margin-top: 1rem; margin-bottom: 1rem; }
        .button-link {
            display: inline-block;
            padding: 8px 16px;
            background-color: #007BFF;
            color: white;
            text-decoration: none;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <h1>Add New Task</h1>
    <form method="post" action="/createTask">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>

        <label for="task_status">Status:</label>
        <select id="task_status" name="task_status" required>
            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
            <option value="Late">Late</option>
            <option value="Cancelled">Cancelled</option>
        </select><br><br>
        <label for="description">Description</label>
        <input type="text" id="description" name="description">
        <label for="due_date">Due Date</label>
        <input type="text" id="due_date" name="due_date" required>

        <button type="submit">Create Task</button>
    </form>

    <br>
    <a href="/tasks" class="button-link">Back to Task List</a>
</body>
</html>